# Build directories
Debug/
Release/

# STM32CubeIDE / Eclipse
.settings/

# Build artifacts
*.o
*.d
*.su
*.cyclo
*.elf
*.map
*.list
*.bin
*.hex

# OS files
.DS_Store
Thumbs.db

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# STM32CubeIDE Workspace
.metadata/